  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="device-container">
          <img class="img-responsive" src="assets/img/2026.png">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Feliz Año Nuevo</h1>
            <h4>De verdad deseo que este año te trate con cariño. Que tengas días suaves, abrazos sinceros y esa paz que no se presume, pero se siente. Y si algún día se pone pesado, acuérdate que no tienes que poder con todo tú sola. Con todo mi cariño, Marco. 🥂✨</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="audioembed">
    <audio controls="true" autoplay="true" src="assets/audio/audio.mp3" onloadeddata="setLowVolume()" id="audio1"></audio>
  </div>
